.title {
    text-align: center;
    padding: 20px;
}

.imgAuto {
    max-width:100%;
    height:auto;
}

.MyContent {
    text-align: center;
    font-size: 110%;
}

.MyContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
}

.No-margin {
    margin: 0px !important;
}