#navbar {
    width: 100%;
    height: 100px;
    background-color: #0d375a;
    overflow: hidden;
    transition: 0.4s;
}

#logo {
    max-height: 90%;
    width: auto;
    transition: 0.4s;
    object-fit: contain;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

#imgLogo {
    max-width:100%;
    height:auto;
}

.scaleImg {
    transform: scale(0.6);
    margin-bottom: 30px;
}