.title {
    text-align: center;
    padding: 20px;
}

.MyContent {
    text-align: center;
    font-size: 110%;
}

.MyContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
}

.MyContent p {
    font-size: 110%;
    display: inline-block;
    vertical-align: middle;
}
